:host{
    display: block;
    border-radius: 16px;    
}
.container{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 22px;
    border-radius: inherit;
    overflow: hidden;

}
.settings-button{
   position: absolute;
    top: 20px;
    right: 20px;
}
/*.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/