.container{
    display: flex;
    justify-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px;
    
}
.container mat-spinner {
  color: #d7d7d7; /* couleur du cercle */
  width: 60px !important;  /* diamètre largeur */
  height: 60px !important; /* diamètre hauteur */
}
*{
  box-sizing: border-box;
}