:host{
    position: absolute;
    z-index: 2;
    background-color: whitesmoke;
    color: black;
    top: 0;
    left: 0;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /*--mat-standard-button-toggle-height:20px;*/
    --mat-button-toggle-height: 20px;
    >div{
        display: flex;
        gap: 8px;
        align-items: center;
        margin-bottom: 8px;

    }
}
.close-button{
    position: absolute;
    top: 0;
    right: 0;
}
.move-forward-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -5px;
}
.move-backward-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -5px;
}
.remove-widget-button{
    position: absolute;
    top:0 ;
    left: 0;
    color: #cc0000;
}