 <a mat-list-item  
 [routerLink]="item().route" 
 routerLinkActive
 (click)="toggleNested()"
 #rla="routerLinkActive"
 [activated]="rla.isActive">
    <mat-icon matListItemIcon color="primary">{{item().icon}} </mat-icon>
<span matListItemTitle>{{item().label}}</span>
@if (item().subitem) {
    <span matListItemMeta>
        @if (nestedMenu()) {
        <mat-icon>expand_less</mat-icon>}
        @else {
        <mat-icon>expand_more</mat-icon>}


        </span>
} </a>
@if (item().subitem && nestedMenu()) {
    <div>
        @for (subitem of item().subitem; track subitem.label) {
             <a mat-list-item  
 [routerLink]="item().route+'/'+subitem.route" 
 routerLinkActive
 class="idented"
 #rla="routerLinkActive"
 [activated]="rla.isActive">
    <mat-icon matListItemIcon >{{subitem.icon}} </mat-icon>
<span matListItemTitle>{{subitem.label}}</span>

       
</a>
        }
    </div>
}
